.markdown-content img {
    display: block;
    margin: 0 auto;
    max-width: 30%;  /* Ensures the image doesn't overflow the container */
    height: auto;  /* Maintains aspect ratio */
    border-radius: 10px;
  }
/* Default image style (centered) */
img.markdown-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/* Left-aligned image */
img.markdown-image-left {
  float: left;
  margin-right: 15px;
  max-width: 20%;
}

/* Right-aligned image */
img.markdown-image-right {
  float: right;
  margin-left: 15px;
  max-width: 20%;
}
